<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      <ion-icon name="chevron-back-outline" (click)="popFromNav()"></ion-icon>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title class="card-title">Edit information</ion-card-title>
    <ion-row class="container-input" [formGroup]="userInfo">
      <ion-col size="11">
        <ion-item>
          <ion-label>Complete name</ion-label>
          <ion-input placeholder="Insert your name" formControlName="username" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="container-btn">
      <ion-col size="11">
        <ion-button expand="block" (click)="submit()">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
