ion-card {
  margin-top: 20px;
}

.title {
  display: flex;
  align-items: center;
  ion-icon {
    margin-right: 5px;
    font-size: 25px;
    transform: translateY(20%);
  }
}

.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin-top: 10px;
  margin-left: 15px;
}

.alert {
  margin-bottom: 50px;
}
